<div class="weekly_title product pro">
  Prospector Tickets by Day
</div>

<div class="row">
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_monday.count %></div>
    <div class="weekly count_title">Monday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_tuesday.count %></div>
    <div class="weekly count_title">Tuesday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_wednesday.count %></div>
    <div class="weekly count_title">Wednesday</div>
  </div>
</div>
<div class="row">
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_thursday.count %></div>
    <div class="weekly count_title">Thursday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_friday.count %></div>
    <div class="weekly count_title">Friday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count pro"><%= @p_weekend.count %></div>
    <div class="weekly count_title">Weekend</div>
  </div>
</div>

<div class="weekly_title product cad">
  Cadence Tickets by Day
</div>

<div class="row">
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_monday.count %></div>
    <div class="weekly count_title">Monday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_tuesday.count %></div>
    <div class="weekly count_title">Tuesday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_wednesday.count %></div>
    <div class="weekly count_title">Wednesday</div>
  </div>
</div>
<div class="row">
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_thursday.count %></div>
    <div class="weekly count_title">Thursday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_friday.count %></div>
    <div class="weekly count_title">Friday</div>
  </div>
  <div class="weekly_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="weekly count cad"><%= @c_weekend.count %></div>
    <div class="weekly count_title">Weekend</div>
  </div>
</div>
