<div class="all_stats title">
  Prospector + Cadance (Combined)
</div>
<br>
<div class="all_stats result">
  Total Tickets: <%= @total_combined %>
</div>
<div class="all_stats result">
  Response: <%= @average_combined.round(1) %> minutes
</div>
<br>
<div class="all_stats headline">
  Tier 1
</div>
<div class="all_stats result">
  Total: <%= @tier1.count %> <br>
  Response Time: <%= @tier1_response.round(1) %> <br>
</div>
<br>
<div class="all_stats headline">
  Tier 2
</div>
<div class="all_stats result">
  Total: <%= @tier2.count %> <br>
  Response Time: <%= @tier2_response.round(1) %> <br>
</div>
<br>
<div class="all_stats headline">
  Tier 3
</div>
<div class="all_stats result">
  Total: <%= @tier3.count %> <br>
  Response Time: <%= @tier3_response.round(1) %> <br>
</div>
